body {
      background-color: #fdfaf6;  
}

.login-form-container {
    background-color: #FFF8DC; 
    border: 1px solid #D2B48C; 
   
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.login-form-container h2 {
    color: #8B4513; 
}

.form-label {
    color: #4a3b31; 
}

.invalid-feedback {
    color: #dc3545; 
    font-size: 0.875em;
}
