body {
      background-color: #fdfaf6;  
}

#sehir-slider .carousel-item img {
    max-height: 500px; 
    object-fit: cover; 
    border-radius: 8px; 
}

#sehir-slider .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    padding: 10px;
}

#sehir-slider .carousel-caption h5 {
    color: #fff; 
}

#sehir-slider .carousel-caption p {
    color: #f0f0f0; 
}

#sehir-bilgileri h3 {
    color: #A0522D; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.place-detail.card {
    background-color: #faf0e6; 
    border: 1px solid #D2B48C; 
}

.place-detail.card .card-title {
    color: #8B4513; 
}

.place-detail.card img {
    border-radius: .25rem 0 0 .25rem; 
}


header.container h1 {
    
    color: #8B4513; 
}

header.container .lead {
    font-style: italic;
    color: #5a4b41; 
}
